html {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: flex;
  background-color: rgb(93, 93, 233);
  align-items: center;
  height: 15%;
  justify-content: space-between;
  color: black;
}
.link {
  text-decoration: none;
  color: black;
  padding: 5%;
}
.btn {
  display: flex;
}

.lnk {
  display: flex;
}
